requests==2.7.0
py==1.4.30
pytest==2.7.3
https://github.com/danvk/RangeHTTPServer/tarball/ebb5c5d7af44b3279bdd4b57ddf3093eec3e8794#egg=rangehttpserver
https://github.com/JukkaL/mypy/tarball/dcff596be878798fbd43af7b50d95c3eed7ebbc1#egg=mypy-lang
